*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(to right,#24b6e7,#df589b);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container
{
  background-color: #fff;
  padding: 60px 80px;
  border-radius: 25px;
}
.container h2
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    font-size: 2rem;
}
.small
{
    margin-top: 15px;
    display: none;
    grid-template-columns: repeat(3,1fr);
    border: 2px solid black;
    transition: 2s;
}
.con{
    height: 100px;
    width: 100px;
    background-color:aqua;
    border: 2px solid black;
    cursor: pointer;
}
button
{
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.start
{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#result
{
    font-weight: bold;
    color: #eb107d;
    text-align: center;
    margin-top: 20px;
}
#show
{
    display: none;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 450px)
{
.container
{
  background-color: #fff;
  padding: 20px 50px;
  border-radius: 10px;
}
}